*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# OS junk
.DS_Store
Thumbs.db

# APK/AAR outputs
*.apk
*.aar
*.ap_

# Logs
*.log

# Keystores (ako koristiš lokalne; ne guraj u repo)
*.keystore
*.jks

# Misc
navigation.json
